h1{ 
  text-align: center;
  color: rgb(0, 132, 255) !important;
  font-size: 2em;
  margin-top: 1em !important;
  text-transform: uppercase;
}
.expensebtn{
  margin-bottom: 3em;
  margin-top: 1em;
  border-radius: 5px !important;
}
.ant-modal-header{
  background-color:  rgba(19, 138, 250, 0.815) !important  ;
}

.btn_center{
  display: flex;
  justify-content: center;
}
.expensebtn:hover{  
  background-color: rgb(0, 132, 255) !important;
}
table{
  margin: 0 auto;
}
tr,th,td{
  border: 1px solid rgba(153, 151, 151, 0.938);
  padding: 1em;
  text-align: center;
}
th{
  background-color: rgba(143, 142, 142, 0.541);
  font-size: 18px;
}
th:hover{
  background-color: rgba(0, 0, 0, 0.527);
  color: white;
}
td{
  font-size: 17px;
}
button {
  padding: 5px; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.del{
  margin-left: 10px;
  background-color: rgba(250, 46, 46, 0.979);
  width: 60px;
  color: rgb(255, 255, 255);
}
.del:hover {
  background-color: red;
}
.edit {
  background-color:rgba(9, 136, 255, 0.815) ;
  color: rgb(255, 255, 255);
  width: 60px;
}
.edit:hover {
  background-color:rgb(9, 136, 255) ;
}